.container{
  background-color: #252422;
  color: #FFFCF2;
  padding: 25px;

  .top-container{
    margin-top: 20px;

    .buttons{
      margin-top: 20px;
      display: flex;
      gap: 10px;

      button{
        cursor: pointer;
        color: #252422;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 10px;
        background-color: #CCC5B9;

        &:hover{
          color: #EB5E28;
        }
      }
    }
  }
  .details-container{
    margin-top: 20px;
    display: flex;
    gap: 10px;

    .rating{
      color: #039803;
    }

    .certification{
      border: 1px white solid;
      padding: 0 5px;
    }
  }

  .bottom-container{
    margin-top: 20px;
    display: flex;
  }

  .left{
    width: 60%;
  }

  .right{
    margin-left: 30px;
  }
}

.rating-tooltip {
  transform: translateX(10px) !important;
}